*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.active{
    background-color: #333;
    color: white;
}
.active.submenu{
    border-bottom: 1px solid #333;
}
.app{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
}
#navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    color: #333;
    gap:0.5rem;
    user-select: none;
}
#navbar .nav-item{
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    width: 100%;
}
#navbar .nav-item:hover{
    background-color: #333;
    color: white;
}
#main-content{
    flex: 1;
    height: 100%;
    box-shadow: 1px 1px 5px #000;
}
.section{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100%;
}
.section .navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
.section header{
    font-size: 2rem;
    align-self: center;
    margin-bottom: 1rem;
    
}
.section .content{
    overflow-y: auto;
    flex:1;
    display: flex;
    flex-direction: column;
}
.section .content pre{
    width:100%;
    font-size: 1rem;
    line-height: 1.5;
    text-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section .content img{
    display: inline-block;
    align-self: center;
    margin:1rem;
    width:30%;
}
code{
    user-select: none;
}